@model IEnumerable<Relync2.Models.Property>

<table class="table table-responsive">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Title)
                </th>
                
            
               
                <th>
                    @Html.DisplayNameFor(model => model.Price)
                </th>
                
                <th>
                    @Html.DisplayNameFor(model => model.Available)
                </th>
             
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
           
            
           
            <td>
                @Html.DisplayFor(modelItem => item.Currency) @Html.DisplayFor(modelItem => item.Price)
            </td>
          
            <td>
                @Html.DisplayFor(modelItem => item.Available)
            </td>
            <td>
                <a class="btn btn-default" asp-controller="Properties" asp-action="Details" asp-route-id="@item.Id">Details</a>
            </td>
        </tr>
}
    </tbody>
</table>
