@model Relync2.Models.Request


<br />
<div class="media"> 
    <div class="media-left"> 
    
    <img class="media-object" style="width: 64px; height: 64px;" alt="64x64" src="data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9InllcyI/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB2aWV3Qm94PSIwIDAgNjQgNjQiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUgbWVldCIgd2lkdGg9IjY0IiBoZWlnaHQ9IjY0Ij48IS0tClNvdXJjZSBVUkw6IGhvbGRlci5qcy82NHg2NApDcmVhdGVkIHdpdGggSG9sZGVyLmpzIDIuNi4wLgpMZWFybiBtb3JlIGF0IGh0dHA6Ly9ob2xkZXJqcy5jb20KKGMpIDIwMTItMjAxNSBJdmFuIE1hbG9waW5za3kgLSBodHRwOi8vaW1za3kuY28KLS0+PGRlZnM+PHN0eWxlIHR5cGU9InRleHQvY3NzIj4jaG9sZGVyXzE1ZDA3ZWM3ODFmIHRleHQgeyBmaWxsOiNBQUFBQUE7Zm9udC13ZWlnaHQ6Ym9sZDtmb250LWZhbWlseTpBcmlhbCwgSGVsdmV0aWNhLCBPcGVuIFNhbnMsIHNhbnMtc2VyaWYsIG1vbm9zcGFjZTtmb250LXNpemU6MTBwdCB9IDwvc3R5bGU+PC9kZWZzPjxnIGlkPSJob2xkZXJfMTVkMDdlYzc4MWYiPjxyZWN0IGZpbGw9IiNlZWVlZWUiIHdpZHRoPSI2NCIgaGVpZ2h0PSI2NCIgLz48Zz48dGV4dCB4PSIxMy40NzUiIHk9IjM2LjU5OSI+NjR4NjQ8L3RleHQ+PC9nPjwvZz48L3N2Zz4=" data-src="holder.js/64x64" data-holder-rendered="true"> 
      
@Html.DisplayNameFor(model => model.Active): @Html.DisplayFor(model => model.Active)
        </div> 
    <div class="media-body"> 
    <h4 class="media-heading">@Html.DisplayFor(model => model.Ttype) | @Html.DisplayNameFor(model => model.Ptype): @Html.DisplayFor(model => model.Ptype) | @Html.DisplayNameFor(model => model.Location): @Html.DisplayFor(model => model.Location)</h4>
        
          
        
            @Html.DisplayNameFor(model => model.Highest): @Html.DisplayFor(model => model.Currency) @Model.Highest.Value.ToString("#,##0") |
            @Html.DisplayNameFor(model => model.Lowest): @Html.DisplayFor(model => model.Currency) @Model.Lowest.Value.ToString("#,##0")
        
    <br>
    @Html.DisplayNameFor(model => model.Attributes): @Html.DisplayFor(model => model.Attributes)
        <br />Requested On <small>@Html.DisplayFor(model => model.Dated)</small>
    </div>  
</div>